body {
  background-color: #160374;
}

.input-label, .dropdown-label {
  display: block;
}

#description {
  margin-bottom: -17%;
}

form {
  padding-left: 7%;
  padding-top: 4%;
  padding-bottom: 7%;

}

#number-label {
  width: 650px;
}

h1, body>p {
  color: white;
  text-align: center;
}

.container {
  color: white;
  margin: 20%;
  background-color: #3814E8;
}

textarea {
  display: block;
}